@import url("standard.css");

body {
  background-size: contain;
}

main {
  padding: 4rem 1rem;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

#gallery {
  display: grid;
  gap: 1.5rem;
}

#gallery img {
  border-radius: 2px;
  margin-bottom: 0.5rem;
}

#gallery p {
  color: var(--white);
  padding: 0.5rem;
  border-radius: 2px;
  background-color: var(--text-bg);
}

/* MEDIA QUERIES */
/* TABLET */
@media screen and (min-width: 768px) {
  main {
    padding: 7rem 1rem;
  }

  #gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
  }

  .image_container {
    display: flex;
    flex-direction: column;
  }

  .image_container img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .image_container p {
    flex: 1;
  }
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
  body {
    background-size: cover;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #gallery {
    max-width: 1040px;
  }
}
