@import url("standard.css");

body {
  background-size: contain;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 1.5rem;
}

.image_container {
  display: flex;
  flex-direction: column;
}

#gallery img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 2px;
  margin-bottom: 0.5rem;
}

#gallery figcaption {
  color: var(--white);
  padding: 0.5rem;
  border-radius: 2px;
  background-color: var(--text-bg);
}

/* MEDIA QUERIES */
/* TABLET */
@media screen and (min-width: 768px) {
  main {
    padding: 7rem 1rem;
  }

  .image_container figcaption {
    flex: 1;
  }
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
  body {
    background-size: cover;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #gallery {
    max-width: 1040px;
  }
}
