@import url("standard.css");

body {
  background-size: contain;
}

#info_box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2px;
  gap: 1rem;
  background-color: var(--text-bg);
}

.info_row {
  display: flex;
  justify-content: space-between;
}

.info_row span:first-child {
  font-weight: bold;
}

.info_row span {
  font-family: var(--special);
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

#about {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

#about p {
  padding: 1rem;
  background-color: var(--text-bg-muted);
  color: var(--white);
  font-size: 1.2rem;
}

/* MEDIA QUERIES */
/* TABLET */
@media screen and (min-width: 768px) {
  body {
    background-size: cover;
  }

  main {
    padding: 7rem 7rem;
  }

  #info_box {
    margin: 1rem 5rem;
  }
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
  main {
    height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto 1fr;
  }

  main h1 {
    grid-area: 1 / 1 / 2 / -1;
  }

  #info_box,
  #about {
    height: fit-content;
    place-self: center;
    margin: 1rem;
    width: 100%;
  }
}
